<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <link href="/css/index.css" type="text/css" rel="stylesheet" />
        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/js/index.js"></script>
    </head>
    <body>
        <div>
            <p id="info">
                info
            </p>
        </div>
        <button id="main1">
            <h1>main1</h1>
        </button>
        <button id="main2">
            <h1>main2</h1>
        </button>
        <button id="stop">
            <h1>stop</h1>
        </button>
        <button id="stopscript">
            <h1>stopscript</h1>
        </button>
    </body>
</html>