<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <link href="/css/index.css" type="text/css" rel="stylesheet" />
        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/js/index.js"></script>
    </head>
    <body>
        <div>
            <p id="info">
                info
            </p>
        </div>
        <div class="buttonSet">
            <button class="runBut" name="main1">
                <h1>main1</h1>
            </button>
            <button class="killBut" name="main1">
                <h1>main1</h1>
            </button>
        </div>
        <div class="buttonSet">
            <button class="runBut" name="main2">
                <h1>main2</h1>
            </button>
            <button class="killBut" name="main2">
                <h1>main2</h1>
            </button>
        </div>
        <div class="buttonSet">
            <button class="runBut" name="stop">
                <h1>stop</h1>
            </button>
            <button class="killBut" name="stop">
                <h1>stop</h1>
            </button>
        </div>
    </body>
</html>